body{
  font-family: 'Poppins',sans-serif;
  margin: 0%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  margin: 0;
  height: 3em;
  padding: 0em 0em 2em 2em;
}

.card{
  width: 25em;
  height: 30em;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
}
.image{
  width: 100%;
  height: 50%;
}
.textholder{
  border-top: 0.25px solid rgb(231, 231, 231);
  width: 80%;
  height: 50%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-left: 1em;
}
.productlist{
  padding: 5em 5em;
  padding-right: 0em;
  display: grid;
}
.grid{
  width: fit-content;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 25em 25em 25em 25em;
}

a{
  text-decoration: none;
  color: black;
}

.Loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

h1,h2,h3,h4{
  font-weight: 500;
}